@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ROTTER";
  src: url("./assets/fonts/Rotter.otf");
}

@font-face {
  font-family: "HelveticaNeueCyr_Light";
  src: url(./assets/fonts/HelveticaNeueCyr\ Light.ttf);
}

@font-face {
  font-family: "SteinbeckRegular";
  src: url(./assets/fonts/Steinbeck\ Reg\ Regular.otf);
}

@font-face {
  font-family: "VisueltPro-Light";
  src: url(./assets/fonts/VisueltPro-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header_txt {
  font-family: "ROTTER";
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

.ant-btn-primary {
  background-color: rgb(68, 116, 236) !important;
  color: #fff;
}

.card_a {
  font-family: SteinbeckRegular;
}

.c_text {
  font-family: SteinbeckRegular !important;
}

.bookInfo {
  background-image: url(./assets//images/GroupBookInfo.svg);
  background-position: 100% 15px;
  background-repeat: no-repeat;
}

.profileCard {
  background-image: url(./assets/images/profileCardImg.svg);
  /* background: radial-gradient(1678.66% 85.43% at 98.07% 50%, #2F2F2F 0%, #171717 100%); */
  background-repeat: no-repeat;
  background-position: 100% 8px;
  background-color: black;
  color: white;
  box-shadow: 0px 4px 73px 0px rgba(0, 0, 0, 0.25);
}